<div class="d-flex justify-content-start">

    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show col-sm-7" role="alert">
        <div class="row">
          <div class="col-11">
            <b>{{successMessage}}</b>
          </div>
          <div class="col-1 d-flex justify-content-end justify-content">
            <span type="button"  (click)="successMessage=''" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">
                <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
        </div>   
    </div>

      <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show col-sm-7" role="alert">
        <div class="row">
          <div class="col-11">
            <b>{{errorMessage}}</b>
          </div>
          <div class="col-1 d-flex justify-content-end justify-content">
            <span type="button"  (click)="errorMessage=''" class="close" data-dismiss="alert" aria-label="Close" aria-hidden="true">
                <i class="fa-solid fa-xmark"></i>
            </span>
          </div>
        </div>   
    </div>
</div>