<!-- <div class="d-flex justify-content-center">
    <div *ngIf="success"
        class="alert alert-success alert-dismissible fade show 
            col-xm-3 my-2 " 
        role="alert"> Application Submitted
        <button type="button"  (click)="success=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
    </div>
    <div *ngIf="fail" 
        class="alert alert-warning alert-dismissible fade show 
            col-xm-3 my-2" 
        role="alert"> Application not Submitted
        <button type="button"  (click)="fail=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="fa-solid fa-xmark"></i></span>
        </button>
    </div>
</div> -->