<div class="container" [appCustomColor]="color" [appCustomText] = "textSize">
    <div class="row">
        <div class="col-lg-1">
            <b>Tools</b>
        </div>
        <div class="col-lg">
            <h2 class="d-flex justify-content-center">{{blog?.title}}</h2>
            <hr>
            {{blog?.content}}
        </div>
        <div class="col-lg-2">
            <b>Appearance</b>
            <hr>
            <form>
                <p>Color</p>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" (click)="color='white'" value="option1">
                    <label class="form-check-label" for="exampleRadios1">
                       Light
                    </label>
                      
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" (click)="color='black'" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Dark
                    </label>
                </div>
            </form>
            <hr>

            <form>
                Text
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="textRadios" id="textRadios1" (click)="textSize='small'"  value="option1">
                    <label class="form-check-label" for="textRadios1">
                       Small
                    </label>
                      
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="textRadios" id="textRadios2" (click)="textSize='large'"  value="option2">
                    <label class="form-check-label" for="textRadios2">
                       Large
                    </label>
                </div>
            </form>
        </div>


    </div>
</div>